In [1]:
# brief data cleanup
import requests
import pandas as pd

In [2]:
output = []

for i in range(19):
	offset = f'&$offset={0 + (i*1000)}'
	url = f'https://data.cdc.gov/resource/r8kw-7aab.json?$limit=1000'
	if i == 0:
		response = requests.get(url)
	else:
		response = requests.get(url + offset)
	for item in response.json():
		output.append(item)
	print(response.status_code)

200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200

In [3]:
df = pd.DataFrame(output)
df = df[['start_date', 
           'end_date', 
           'year', 
           'mmwr_week', 
           'state', 
           'covid_19_deaths', 
           'total_deaths', 
           'percent_of_expected_deaths', 
           'pneumonia_deaths', 
           'influenza_deaths',
           'pneumonia_influenza_or_covid_19_deaths']]

df.columns = ['week_start', 
              'week_end',
              'year',
              'week',
              'state',
              'covid_d',
              'total_d',
              'poe_d',
              'pneum_d',
              'flu_d',
              'anyof3_d']

df = df[['week','state','week_start','covid_d','pneum_d','flu_d','anyof3_d','total_d','poe_d']]
df.head()

,week,state,week_start,covid_d,pneum_d,flu_d,anyof3_d,total_d,poe_d
0,1,United States,2019-12-29T00:00:00.000,0,4111,434,4545,60170,98.00
1,2,United States,2020-01-05T00:00:00.000,1,4153,475,4628,60734,97.00
2,3,United States,2020-01-12T00:00:00.000,2,4066,468,4534,59362,98.00
3,4,United States,2020-01-19T00:00:00.000,3,3915,500,4418,59162,99.00
4,5,United States,2020-01-26T00:00:00.000,0,3818,481,4299,58834,99.00

In [4]:
week_start = df['week_start'].astype(str)
year = [week_start[i][0:4] for i in range(len(week_start))]
df['year'] = year
df.head()

,week,state,week_start,covid_d,pneum_d,flu_d,anyof3_d,total_d,poe_d,year
0,1,United States,2019-12-29T00:00:00.000,0,4111,434,4545,60170,98.00,2019
1,2,United States,2020-01-05T00:00:00.000,1,4153,475,4628,60734,97.00,2020
2,3,United States,2020-01-12T00:00:00.000,2,4066,468,4534,59362,98.00,2020
3,4,United States,2020-01-19T00:00:00.000,3,3915,500,4418,59162,99.00,2020
4,5,United States,2020-01-26T00:00:00.000,0,3818,481,4299,58834,99.00,2020

In [5]:
df.to_csv('cdc_covid_data.csv', index=False)
# week of reportind (index), state, week start date, covid deaths, pneumonia deaths, influenza deaths, covid+pneumonia+influenza deaths, total deaths, percentage of expected deaths, year