In [3]:
# brief data cleanup
import requests
import pandas as pd
import json

In [43]:
output = []

for i in range(19):
	offset = f'&$offset={0 + (i*1000)}'
	url = f'https://data.cdc.gov/resource/r8kw-7aab.json?$limit=1000'
	if i == 0:
		response = requests.get(url)
	else:
		response = requests.get(url + offset)
	for item in response.json():
		output.append(item)
	print(response.status_code)

200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200

In [44]:
df = pd.DataFrame(output)
df = df[['start_date', 
           'end_date', 
           'year', 
           'mmwr_week', 
           'state', 
           'covid_19_deaths', 
           'total_deaths', 
           'percent_of_expected_deaths', 
           'pneumonia_deaths', 
           'influenza_deaths',
           'pneumonia_influenza_or_covid_19_deaths']]

df.columns = ['week_start', 
              'week_end',
              'year',
              'week',
              'state',
              'covid_d',
              'total_d',
              'poe_d',
              'pneum_d',
              'flu_d',
              'anyof3_d']

df = df[['week','state','week_start','covid_d','pneum_d','flu_d','anyof3_d','total_d','poe_d']]
df.head()

,week,state,week_start,covid_d,pneum_d,flu_d,anyof3_d,total_d,poe_d
0,1,United States,2019-12-29T00:00:00.000,0,4111,434,4545,60170,98.00
1,2,United States,2020-01-05T00:00:00.000,1,4153,475,4628,60734,97.00
2,3,United States,2020-01-12T00:00:00.000,2,4066,468,4534,59362,98.00
3,4,United States,2020-01-19T00:00:00.000,3,3915,500,4418,59162,99.00
4,5,United States,2020-01-26T00:00:00.000,0,3818,481,4299,58834,99.00

In [45]:
week_start = df['week_start'].astype(str)
year = [week_start[i][0:4] for i in range(len(week_start))]
df['year'] = year
df

,week,state,week_start,covid_d,pneum_d,flu_d,anyof3_d,total_d,poe_d,year
0,1,United States,2019-12-29T00:00:00.000,0,4111,434,4545,60170,98.00,2019
1,2,United States,2020-01-05T00:00:00.000,1,4153,475,4628,60734,97.00,2020
2,3,United States,2020-01-12T00:00:00.000,2,4066,468,4534,59362,98.00,2020
3,4,United States,2020-01-19T00:00:00.000,3,3915,500,4418,59162,99.00,2020
4,5,United States,2020-01-26T00:00:00.000,0,3818,481,4299,58834,99.00,2020
...,...,...,...,...,...,...,...,...,...,...
18679,NaN,Washington,2020-01-01T00:00:00.000,16628,25540,1127,33732,349434,NaN,2020
18680,NaN,West Virginia,2020-01-01T00:00:00.000,9048,13825,495,18774,136262,NaN,2020
18681,NaN,Wisconsin,2020-01-01T00:00:00.000,18531,18793,950,31711,313138,NaN,2020
18682,NaN,Wyoming,2020-01-01T00:00:00.000,2016,2302,92,3376,28652,NaN,2020
18683,NaN,Puerto Rico,2020-01-01T00:00:00.000,7257,24676,603,27498,176791,NaN,2020

In [ ]:
df.to_csv('cdc_covid_data.csv', index=False)
# week of reportind (index), state, week start date, covid deaths, pneumonia deaths, influenza deaths, covid+pneumonia+influenza deaths, total deaths, percentage of expected deaths, year

In [7]:
cdc_mental = pd.read_csv("../cdc_mental.csv")
cdc_mental

,Indicator,Group,State,Subgroup,time_start,time_end,Value,low,high
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,04/23/2020,05/05/2020,23.5,22.7,24.3
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,04/23/2020,05/05/2020,32.7,30.2,35.2
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,04/23/2020,05/05/2020,25.7,24.1,27.3
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,04/23/2020,05/05/2020,24.8,23.3,26.2
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,04/23/2020,05/05/2020,23.2,21.5,25.0
...,...,...,...,...,...,...,...,...,...
16789,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Virginia,Virginia,08/20/2024,09/16/2024,20.8,17.4,24.5
16790,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Washington,Washington,08/20/2024,09/16/2024,19.9,17.4,22.6
16791,Symptoms of Anxiety Disorder or Depressive Dis...,By State,West Virginia,West Virginia,08/20/2024,09/16/2024,26.3,21.5,31.4
16792,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wisconsin,Wisconsin,08/20/2024,09/16/2024,17.0,13.4,21.2
16793,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wyoming,Wyoming,08/20/2024,09/16/2024,25.6,19.3,32.8

In [8]:
this = [item.title() for item in cdc_mental['Group']]
cdc_mental['Group'] = this

In [9]:
cols = cdc_mental.columns
cols

Index(['Indicator', 'Group', 'State', 'Subgroup', 'time_start', 'time_end',
       'Value', 'low', 'high'],
      dtype='object')

In [10]:
cdc_mental.columns = ['Indicator','Divisor','State', 'Subgroup', 'time_start', 'time_end','Value', 'low', 'high']

In [ ]:
cdc_mental.to_csv('data/csv/mental_health.csv', index=False)

In [62]:
# Death totals bar char
covid = pd.read_json('data/json/covid_data.json')
covid = covid[['state','covid_d','pneum_d','flu_d','anyof3_d','total_d']]
state_group = covid.groupby('state').sum()

In [63]:
output = []
for row in state_group.iterrows():
    if row[0] == 'United States':
        pass
    else:
        output.append({
            'state':row[0],
            'covid_d':row[1]['covid_d'],
            'pneum_d':row[1]['pneum_d']
        })

In [64]:
with open('data/json/state_death_totals.json', 'w') as file:
    json.dump(output, file, indent=4)

In [ ]:
death_totals = pd.read_json('data/json/state_death_totals.json')
higher_c_states = [row[1][0] for row in death_totals.iterrows() if row[1][1] > row[1][2]]
higher_covid = death_totals[death_totals['state'].isin(higher_c_states)]
high_death = death_totals[death_totals['state'].isin(['Texas', 'Florida', 'California'])]

C:\Users\Leo\AppData\Local\Temp\ipykernel_3348\87146896.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  higher_c_states = [row[1][0] for row in death_totals.iterrows() if row[1][1] > row[1][2]]

         state  covid_d  pneum_d
4   California   464789   629466
9      Florida   349188   484421
45       Texas   435809   508475

In [ ]:
higher_covid.to_json('data/json/higher_covid.json','records')
high_death.to_json('data/json/high_death.json', 'records')

C:\Users\Leo\AppData\Local\Temp\ipykernel_3348\2696391228.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_json except for the argument 'path_or_buf' will be keyword-only.
  higher_covid.to_json('data/json/higher_covid.json','records')
C:\Users\Leo\AppData\Local\Temp\ipykernel_3348\2696391228.py:2: FutureWarning: Starting with pandas version 3.0 all arguments of to_json except for the argument 'path_or_buf' will be keyword-only.
  high_death.to_json('data/json/high_death.json', 'records')